@use "./partials/variables" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

ul {
    list-style-type: none;
}

header {
    nav {
        background-color: #313131;
        img {
            width: 100px;
        }
        li {
            text-decoration: none;
            color: #f50505;
            transition: transform 0.5s ease-in-out, color 0.6s ease-in-out; 

            &:hover {
                color: #ff6302;
                transform: scale(1.5) ;
            }

        }
    }
}
#jumbo {
    background-image: url("/img/events_cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.card-link {
    text-decoration: none;
}

.ls-card {
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
    width: 350px;
    height: 350px;
    padding: 10px;
}

#image {
   width: 50%;
}
#overview {
    display: none;
}

