$bg-fuchsia: #F636F9;
$bg-eerieBlack: #202427;
$bg-oldGold: #CBB355;
$bg-skyBlue: #03d6f3;
$bg-cobaltBlue: #013D9D;


$background: rgb(246,54,249);
$gradient-bg: linear-gradient(90deg, rgba(246,54,249,1) 5%, rgba(203,179,85,1) 30%, rgba(3,214,243,1) 70%, rgba(1,61,157,1) 95%);
